:root{
  --dark-color-text:rgb(76,96,131);
  --light-color-text:rgb(252,249,241);

  --dark-bg:rgb(76,96,131);
  --accent-bg:rgb(243,110,103);
  --light-bg:rgba(255,217,182,0.5);

  --income-color: rgb(144,196,233);
  --payments-color: rgb(197,91,113);

  --main-wrapper-desktop: 1em;

}